 * {
            padding: 0;
            margin: 0;
        }

        .maincontainer {
            padding-left: 20%;
            padding-right: 20%;
        }

        body {
            background-color: #FFFBEA;
        }

        .header,
        .footer {
            background-color: #79A3B1;
            text-align: center;
            padding: 10px;
            color: white;
        }

        .introduction {
            background-color: #F8F8F8;
            margin: 10px 0px;
            text-align: center;
            padding: 20px;
        }

        h2 {
            color: #C56AAE;
            padding: 15px;
        }

        .frontend,
        .backend {
            background-color: #F8F8F8;
            margin-bottom: 10px;

            padding: 20px;
        }

        .content {
            padding-left: 50px;
        }

        .content h3 {
            padding: 10px 0px;
        }

        .introduction,
        .frontend,
        .backend {
            border-radius: 8px;
        }