* {
    padding: 0;
    margin: 0;
}

/* -------------   */
.chatimg-section {
    background-color: #c8e8e0;
    border: 1px solid #c8e8e0;
}

.about-flex {
    display: flex;
    margin: 50px 20vw;
}

.chat-center {
    text-align: center;
    margin: 50px 30vw;

}

.chat-center h1 {
    color: #2e937f;
    margin-bottom: 30px;
}

.chat-center p {
    line-height: 1.5;
}

.chat-center button {
    margin: 30px;
    background-color: #2e937a;
    border: none;
    color: white;
    padding: 8px 20px;
    border-radius: 10px;
}

.frontpage-text {
    background-color: #fff;
}

.frontpage-text h4 {
    margin: 100px 0 0 0;
    padding: 20px;
    color: #888a88;
}

.frontpage-text ul {
    list-style-type: none;
    padding: 10px 20px;
}

.frontpage-text button {
    margin: 10px;
    background-color: #2e937a;
    border: none;
    color: white;
    padding: 8px 20px;
    border-radius: 10px;
    margin-bottom: 100px;
}

.frontpage-text h1 {
    font-size: 36px;
    padding: 20px;
}

.frontpage-img img {
    width: 350px;
    padding: 50px 30px 0 30px;
}

.frontpage-img {
    background-color: #f1f9f7;
}

/* ------   */
.second-header {
    margin: 40px 20vw;
}

.second-header h1 {
    color: #2e937d;
    margin: 10px 20px;

}

.second-header p {
    line-height: 1.4;
    color: #9ea09e;
    margin: 0 20px;
}

.second-flex {
    display: flex;
    margin: 0 20vw;
}

.flex-box {
    margin: 10px;
    padding: 20px;
}

.flex-box h1 {
    font-size: 100px;
    position: absolute;
    color: #c8e8e0;
    z-index: -1;
}

.flex-box h3 {
    margin: 33px 0 10px 0;
}

.flex-box p {
    line-height: 1.4;
    color: #9ea09e;
}

.bottom {
    margin-bottom: 70px;
}

/* ------   */
.third {
    background-color: #c8e8e0;
}

.heading-third h2 {
    padding-top: 50px;
}

.heading-third {
    text-align: center;
    margin: 30px 0;
    line-height: 1.4;
    color: #58937a;
}

.third-flex {
    display: flex;
    margin: 0 20vw;
}

.third-one {
    background-color: #fff;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}

.third-one h2 {
    color: #2e9586;
    margin: 10px;
}

.third-one button {
    background-color: #2e937a;
    color: white;
    padding: 5px 25px;
    border: none;
    border-radius: 5px;
    margin: 20px 20px;
}

.third-one p {
    line-height: 1.4;
}

.third-flex img {
    width: 180px;
    height: 180px;
    padding: 20px;
}

.third-center {
    text-align: center;
    padding: 40px;
}

.third-center a {
    color: black;
}

/* ------   */
.forth {
    display: flex;
    margin: 40px 20vw;
}

.forth h3 {
    font-size: 16px;
    margin: 25px 0;
    padding: 5px;
}

.forth a {
    padding: 5px;
    display: block;
    margin-bottom: 30px;
}

.forth div {
    margin: 30px 10px;
    border-radius: 10px;
    padding: 20px;
}

.left-design {
    background-color: #fbeee0;
}

.left-design h3,
.left-design a {
    color: #edad46;
}

.right-design {
    background-color: #d6eee8;
}

.right-design h3,
.right-design a {
    color: #2e937f;
}

/* ------   */
.fifth {
    background-color: #fcf4eb;
    border: solid #fcf4eb;
}

.aboutus-section {
    display: flex;
    margin: 100px 20vw;
}

.about-profile-div {
    padding-right: 80px;
    margin: 0 0 50px 0;
    margin-bottom: 200px;
}

.about-profile-div h1 {
    margin: 50px 0;
}

.about-profile-div p {
    line-height: 1.5;
    margin: 20px 0;
}

.about-profile-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid #a3d7ca;
}

.about-profile-img h2 {
    color: #2e937d;
    line-height: 1.3;
}

.about-profile-img button {
    padding: 8px 25px;
    color: white;
    background-color: #2e937a;
    font-weight: 800;
    border: none;
    border-radius: 10px;
}

/* ------   */
.second-last {
    background-color: #c8e8e0;
    border: #c8e8e0;
}

.position-flex {
    display: flex;
    margin: 0 20vw;

}

.position {
    background-color: #fff;
    text-align: center;
    width: 60vw;
    border-radius: 10px;
    margin-inline: auto;
    position: relative;
    top: -130px;
}

.position h2 {
    padding-top: 30px;
    font-size: 32px;
}

.position button {
    padding: 15px;
    background-color: #2e937a;
    font-size: 20px;
    border: 2px solid #fef4e9;
    border-radius: 10px;
    margin: 10px;
    color: white;
}

.position p {
    padding-bottom: 50px;
    padding-top: 20px;
}

.position-flex div {
    margin: 80px 15px;
    width: 300px;
}

.one-flex h2 {
    padding: 25px 0;
    color: #2e937a;
}

.one-flex h4 {
    font-weight: bolder;
    line-height: 1.5;
}

.one-flex p {
    line-height: 1.5;
    margin: 25px 0;
}

.two-flex h4 {
    margin: 25px 0;
    color: #2e937a;
}

.two-flex ul {
    list-style-type: none;
}



.three-flex input,
.three-flex textarea {
    display: block;
    width: 250px;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
}

.three-flex button {
    background-color: #2e937a;
    padding: 8px 110px;
    border: none;
    border-radius: 30px;
    margin-top: 20px;
}

/* ------   */
.footer {
    background-color: #333333;
    text-align: center;
    color: white;
    padding: 25px;
}

.footer p {
    margin: 10px;
}